a:hover{
  color: #049cdb;
  text-decoration: none;
}
/*
New header style
*/

header.navbar{
  display: block;
  background-color: #f4f4f4;
  padding: 1px 10px 1px;
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  position: fixed;
  width: 96%;
  height: 37px;
  padding: 1px 2% 1px;
  z-index: 2000000;
}

nav.navbar-inner{
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;  
}
nav.navbar-inner .logo-header{
  display: inline
}


.fiware-logo {
  margin-left: 0px;
  margin-left: 0px;
  margin-top: 2px;
  /* width: 158px !important; */
}

.logo-header .brand{
  margin: 0 0 0 -8px !important;
  padding: 0 !important;
}


.mobile .dropdown-menu{
  margin-left: -67px;
  min-width: 90px
  background-color: rgb(244, 244, 244);
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  margin-top: 0px;
  color: #333;

}

ul.oil-portal{
  height: 36px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  float: left;
}

ul.oil-portal li{
  display: inline-block;
  padding: 12px 18px 8px;
}

ul.oil-portal li:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
}

ul.oil-portal li:hover a{
  color: #60C1CF;
}

ul.oil-portal li a{
  color: #555;
}

ul.oil-portal li a:hover{
  color: #60C1CF;
}

ul.oil-portal li.active{
  background-color: #f9f9f9;
  height: 18px;
}

ul.oil-portal li.active a{
  color: #002D67;
}

.mobile{
  display: none;
  margin-top: 8px;
}

.mobile ul.dropdown-menu{
  margin-left: -67px;
  min-width: 90px;
  background-color: rgb(244, 244, 244);
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  margin-top: 0px;
  color:#333;
}

.mobile ul li a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  color:#333;
}

.mobile ul li.active a{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#60C1CF;
}

.mobile ul li.active a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#60C1CF;
}

.mobile ul li.active a:focus{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#333;
}

.nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  margin: 2px 0px 1px 0px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #60C1CF;
  background-color: #FFF;
  border-radius: 5px;
}



@media (max-width: 767px){

  header .navbar ul.nav{
    margin-top: 0px;
  }

  .logo-header{
    float: left;
  }

  .mobile .dropdown-menu li a{
    padding: 6px 8px 6px;
  }

  .mobile{
    display: inline-block !important;
    margin-top: 10px;
  }

  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }

  .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }

  .nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    margin: 0px 0 1px 15px;
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 979px){


  .nav-tabs, .nav-tabs li a, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    margin: 2px 0 1px 15px;
    float: right;
  }

  header.navbar ul{
    margin-top: 0px    
  }

  .mobile{
    display: none !important;
    margin-top: 10px;
  }

  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }


  .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }

  header.navbar .mobile {
    margin-top: 8px;
    margin-left: 2px;
    margin-top: 10px;
  }
}