<div class="tabbable tabs-right">

  <div class="tab-content">

    <section class="tab-pane active" id="rA">
      <div>
        <h3>#1- General</h3>
        <p>Use at your own risk.</p>
      </div>
    </section>
  </div>
</div>
