<article id="presentation">
  <script>
    var confirm_help_box = function () {
      var r = confirm("The communications sent to the GBerry support list are public and they generate public tickets. Please avoid sending private info unless you are happy to see it publicly available.");
      if (r == true) {
          window.location = "mailto:project@gberry.xyz?Subject=GBerry Support";
      } 
    }
   </script>
  <section class="media">
    <h3 class="media-heading">
      GBerry - Fun Together!
    </h3> 
    <span>
      GBerry is multiplayer game console platform for your living room. 
    </span>
    <p>
      You will be able to create your own user account for GBerry platform.
    </p>
    <div class="sign_up">
      <%= link_to t('devise.links.sign_up'), new_registration_path(resource_name) %>
    </div>
  </section>

   <section class="help-bar">
   <!-- TODO: This code is left for reference how to get help pages (urls been todoed)
        <div style="cursor: pointer;" class="help-box" onclick="confirm_help_box()">
            <header>
              <img src="/assets/help.png">
              <h5>Need Help?</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          <div>
            Ask a question.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="http://TODO">
            <header>
              <img src="/assets/ges.png">
              <h5>Our GEs</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>  
          <div>
            See our Catalogue.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="TODO">
            <header>
              <img src="/assets/fi-ops.png">
              <h5>FIWARE Lab nodes</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>
          <div>
            Learn about FIWARE Ops.
          </div>
        </div>

        <div class="help-box">
          <a target="_blank" href="http://TODO/">
            <header>
              <img src="/assets/more-info.png">
              <h5>eLearning</h5>
              <i class="icon-chevron-right icon-white"></i>
            </header>
          </a>
          <div>
            Train yourself.
          </div>
        </div>
  -->
      </section>
     
</article>
