var Fiware = Fiware || {};

Fiware.signOut = (function($, undefined) {
  var portals = {
//    cloud: {
//      name:      'Cloud',
//      verb:      'GET',
//      protocol:  'https',
//      subdomain: 'cloud',
//      path:      '/logout'
//    },
    store: {
      name:      'Webstore',
      verb:      'GET',
      protocol:  'https',
      subdomain: 'store',
      path:      '/logout'
    },
    account: {
      name:      'Account',
      verb:      'GET',
      protocol:  'https',
      subdomain: 'account',
      path:      '/idm/users/sign_out'
    }
  };

  // matches to first '.'
  // localhost (development) don't match
  var match = window.location.hostname.match(/\.(.*)/);
  var domain = match && match[1];

  console.debug("signout from domain: " + domain)
  // TODO: is this same impl reused by copy&paste or are all subdomain really using this same file?
  //       Anyway for Gberry we are not using subdomain impl
  // If domain exists, we are in production environment,
  // such as account.testbed.fi-ware.org

  var productionCall = function(currentPortal) {
    portalCalls = $.map(portals, function(portal) {
      url = portal.protocol + '://' + portal.subdomain + '.' + domain + portal.path;
	  console.debug("production signout url: " + url)
	  
      return $.ajax(url, {
        type: portal.verb,
        xhrFields: { withCredentials: true },
        error: function() { console.error("Error signing out " + portal.name); }
      });
    });

    deferredCall(portalCalls);
  };

  var deferredCall = function(calls) {
    $.when.apply($, calls).then(
      // success
      finish,
      // fail
      function() {
        if (calls.length === 1) {
          finish();
        } else {
          var unfinished = $.grep(calls, function(call) {
            return call.state() === "pending";
          });

          deferredCall(unfinished);
        }
      });
  };

  var finish = function() {
    // Use window.debugSignOut to debug
    if (window.debugSignOut === undefined) {
      window.location.replace('http://' + domain);
    }
  };

  // Development environment
  var developmentCall = function(currentPortal) {
    var url = 'http://' + window.location.host + portals[currentPortal].path;
	console.debug("development signout url: " + url)
    $.ajax(url, {
      type: portals[currentPortal].verb,
      success: function() {
      	// on successfull signout this will make 'redirect'. Needs to match to possible sub URI
        window.location.replace('http://' + window.location.host + '/idm');
      }
    });
  };

  var call = function(currentPortal) {
    <% if Rails.env == 'production' %>
      productionCall(currentPortal);
    <% else %>
      developmentCall(currentPortal);
    <% end %>
  };

  return call;

})(jQuery);
