<p>Hello <%= @email %>!</p>

<p>Welcome to <%= FiWareIdm.name %>! By clicking on the link "I accept" below, you state that you have read and accepted the <a href="<%= FiWareIdm.domain %>/static/GBerry_Terms_and_Conditions">GBerry Terms and Conditions</a> and the creation of your account will be confirmed:</p>

<p><%= link_to 'I accept', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
