<header class="navbar">
  <nav class="navbar-inner">
    <div class="logo-header">
      <%= link_to '/store', class: 'brand' do %>
        <%= image_tag FiWareIdm.logo, class: 'fiware-logo', alt: FiWareIdm.name %>
      <% end %>
    </div>
 
    <div class="dropdown mobile">
      <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <span class="caret">
        </span> 
      </a>

      <ul class="dropdown-menu dropdown-menu-header">
        <li class="store <%= active_official_app(:store) %>">
          <%= link_to 'Webtore', '/store' %>
        </li>
        <li class="account <%= no_active_official_app %>">
          <%= link_to 'Account', root_url %>
        </li>
      </ul>
    </div>

    <ul class="oil-portal hidden-phone hidden-tablet">
      <li class="store <%= active_official_app(:store) %>">
        <%= link_to 'Webstore', '/store' %>
      </li>
      <li class="account <%= no_active_official_app %>">
        <%= link_to 'Account', root_url %>
      </li>
    </ul>

    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li>
          <%= link_to current_subject, 'data-toggle' => 'tooltip', 'data-placement' => 'left', :title => current_subject.name, 'data-original-title' => current_subject.name do %>
          <%= image_tag current_subject.logo.url(:small) %>
          <span class="name">
            <%= truncate_name(current_subject.name, length: 15) %>
          </span>
          <% end %>
        </li>
              
        <li> 
          <%= render partial: 'layouts/header_dropdown_menu' %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
